@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body {
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: rgb(224, 244, 247);
}

#myCanvas {
  background-image:url("https://media1.tenor.com/m/9t3RHqeQB9kAAAAd/nyan-cat-background-only.gif");
  background-size: 600px 400px;
  border-radius: 10px;
  background-position: center;
  border: 4px solid rgb(224, 244, 247);;
}

h1{
  font-family: "Pixelify sans", system-ui;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}

